# Django server
Django==5.2.5

# Load environment
python-dotenv==1.1.1

# Redis
django-redis==6.0.0

# PostgreSQL
psycopg2-binary==2.9.10

# Celery queue with Redis broken
celery[redis]==5.5.3
django-celery-beat==2.8.1

# Export Prometheus
django-prometheus==2.4.1
