# Django server
Django==5.2.5

# Load biến môi trường từ file .env
python-dotenv==1.1.1

# Hỗ trợ kết nối Redis
django-redis==6.0.0

# Hỗ trợ kết nối PostgreSQL
psycopg2-binary==2.9.10

# Hàng đợi Celery dùng Redis
celery[redis]==5.5.3
